/* Yeu to chinh */     
    * { 
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: 'Arial', sans-serif;
    }

    :root {
        --bg-main: black;
        --color-text: white;
        --bg-menu: white;
        --color-menu: black;
    }

    body {
        background-color: var(--bg-main);
        color: var(--color-text);
    }

    /* Thanh chống cuộn cho thanh menu */
    body.no-scroll {
        overflow: hidden; /* Triệt tiêu thanh cuộn */
        height: 100vh;    /* Cố định chiều cao màn hình */
    }
    