
            <figure class="logo-main-footer">
                <img src="../../../assets/img/logo-shop.img/logo-main.png" alt="Main logo for footer">
            </figure>
            <nav class="policies">
                <h3 class="title-footer">Policies</h3>
                <ul>
                    <li class="item"><a href="#">Chính Sách Bảo Mật</a></li>
                    <li class="item"><a href="#">Thông Tin Và Điều Kiện Giao Dịch Chung</a></li>
                    <li class="item"><a href="#">Chính Sách Bảo Hành</a></li>
                    <li class="item"><a href="#">Chính Sách Vận Chuyển, Giao Nhận</a></li>
                    <li class="item"><a href="#">Chính Sách Thanh Toán</a></li>
                </ul>
            </nav>
            <nav class="information">
                <h3 class="title-footer">Information</h3>
                <ul>
                    <li class="item"><a href="#">Hộ Kinh Doanh Fluw</a></li>
                    <li class="item"><a href="#">Địa Chỉ: 6767 vuadanvuaxau</a></li>
                    <li class="item"><a href="#">Email: conglongdaichuadaidakhai</a></li>
                    <li class="item"><a href="#">Hotline: 09005509</a></li>
                    <li class="item"><a href="#">Website: http://Fluw.vn/</a></li>
                </ul>
            </nav>