/* Yeu to chinh */     
        * { 
            padding: 0;
            margin: 0;
            box-sizing: border-box;
            font-family: 'Arial', sans-serif;
        }

        .container {
            min-height: 100vh;
            background-color: red;
            width: 100%;
            margin: 0 auto;
            overflow-x: hidden;
        }

        header {
            min-height: 5vh;
            height: auto;
            width: 100%;
            display: grid;
            background-color: #f2f2f2;
            border-radius: 0 0 50px 50px;
        }

        .Main-center {
            width: 95%;
            height: auto;
            margin: 0 auto;
        }

        footer {
            height: auto;
            background-color: #f4f0f0;
            border-radius:50px 50px 0 0;
        }

    /*View port for PC */
        .product {
            width: 23%;
        }

    /* View port for table */
        @media (max-width: 1024px) {
            .product {
                width: 45%;
            }
        }

    /* View port for mobile */
        @media (max-width: 600px) {
            .product {
                width: 100%;
            }
        }
/* Yeu to chinh */


/* Cac tinh nang phan head */

        .head {
            display: grid;
            grid-template-columns: 0.5fr 5fr 1fr;
            align-items: center;
            width: 100%;
            padding: 0 2vw;
        }

        .head > .Logo {
            text-align: left;
        }

        .head > .menu {
            text-align: center;
        }

        .head > .search-login-translan {
            text-align: right;
        }
    /* Logo phan dau head " vi tri ben trai tren cung " */


        .Logo a {
            text-decoration: none;
        }

        .Logo img{
            width: 12vw; 
            height: auto;
            border-radius: 20px;
        }

        .Logo {
            justify-content: center;
        }

    /* Menu phan dau head " vi tri o giua tren cung " */
        .menu ul{
            display: flex;
            list-style: none;
            padding: 1.5vw 0;
        }

        .menu li {
            padding: 1vw;
            margin: 0 3vw;
        }

        .menu a {
            text-decoration: none;
            color: black;
            font-size: 1.5vw;
            display: block;
            
        }

        .menu li:not(.chil-shop li):hover {
            background-color: white;
            box-shadow: 0 2.5px 5px black;
            border-radius: 10px;
        }


        .menu li {
            display: block;
        }

    /* Cac con cua menu */    
        .chil-shop li {
            margin: 0;
            padding: 10px;
            background-color: white;
        }

        .chil-shop li:hover {
            background-color: white;
            box-shadow: 5px 10px 20px black;
            border-radius: 10px;
            transform: scale(1.1);
        }

        .chil-shop {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            position: absolute;
            list-style: none;
            visibility: hidden;
            transition: 0.3s ease;
            opacity: 0;
            left: 50%;
            transform: translateX(-50%);
        }

        .shop {
            position: relative;
        }

        .shop:hover .chil-shop{
            visibility: visible;
            opacity: 1;
            border-radius: 10px;
        }

    /* Phan Logo phan dau head " vi tri o ben phai tren cung " */
        .search-login-translan ul {
            list-style: none;
            display: flex;
            transition: 0.3s ease;
        }

        .search-login-translan li {
            margin: 1.2vw;
        }

        .search-login-translan li:hover {
            transform: scale(1.1);
        }

        .search-login-translan a {
            text-decoration: none;
        }

        .logo-search img, .logo-giohang img, .logo-login img{
            width: 2.5vw;
            height: auto;
        }

        .logo-giohang img {
            padding-top: 0.3vw;
        }

        .logo-search img    {
            padding-top: 0.4vw;
        }

        .logo-login img {
            padding-top: 0.4vw;
        }




/* Cac tinh nang phan head */


/* Cac tinh nang phan body */

    /* Phan Logo cua moi san pham/Product */
        .main-logo {
            width: 100%;
            padding-bottom: 30px;
        }

        .main-logo img{
            width: 100%;
            height: 300px;
            border-radius: 10px;
        }
    /* Phan Logo cua moi san pham/Product */ 
    
    .list-product {
        background-color: white;
        border-radius: 10px;
        margin: 20px;
        padding: 15px;
        padding-top: 30px;
    }

    .show {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 20px;
        
        padding-top: 30px;
        padding-bottom: 30px;
    }

    /* Tieu de cua moi muc san pham */ 
        .Title-logo {
            padding-left: 20px;
        }
    /* Tieu de cua moi muc san pham */

    /* Thanh phan cua cac san pham */
    .product {
            text-decoration: none;
            display: block;
            transition: 0.3s ease;
            background-color: #fffafa;
            border: 2px solid red;
            border-radius: 20px;
            width: 100%;
            height: 350px;
        }

        .product img {
            border-radius: 20px;
            width: 90%;
            height: 225px;
            display: block;
            margin: 15px auto 10px;
            object-fit: cover;
        }


        .title-product {
            text-align: center;
            padding-top: 10px; 
            color: black;
        }

        .price-product {
            text-align: center;
            padding-top: 10px;
            color: black;
        }

        .product:hover {
            transform:translateY(-10px)
        }    
    /* Thanh phan cua cac san pham */

    
/* Cac tinh nang phan body */   


/* Cac tinh nang cua phan footer */
    /* phan chung cua footer */    
        .footer {
            margin: 0 auto;
            justify-content: center;
            display: grid;
            grid-template-columns: 1.25fr 1.5fr 1fr;
        }

        .nameshop, .policies, .information {
            padding-top: 3vw;
            flex: 1;
            min-width: 250px;
        }
    /* Logo cua shop */
        .nameshop img{
            width: 15vw;
            height: auto;
            border-radius: 20px;
        }    
    /* Policies */
        .policies ul {
            list-style: none;
        }

        .policies a {
            color: black;
            text-decoration: none;
            transition: 0.3s ease;
            font-size: 1vw;
        }

        .policies li:hover {
            overflow: hidden;
            color: black;
            text-decoration: underline;
        }

        .policies li {
            padding-top: 0.5vw;
            padding-bottom: 0.5vw;
        }
    /* Information */    
        .information ul {
            list-style: none;
        }

        .information a {
            text-decoration: none;
            color: black;
            transition: 0.3s ease;
            font-size: 1vw;
        }

        .information li:hover {
            overflow: hidden;
            color: black;
            text-decoration: underline;

        }

        .information li {
            padding-top: 0.5vw;
            padding-bottom: 0.5vw;
        }

        .title-footer {
            padding-bottom: 1vw;
            font-size: 3vw;
        }
/* Cac tinh nang cua phan footer */