/* Cac tinh nang phan body */
    /* id dùng để ẩn tắt mật khẩu*/
        #eye {
            cursor: pointer;
            transition: 0.3s ease;
            color: white;
        }
    /* vị trí các id của input email và mật khẩu */

        /* Phan nhap cac thong tin input */

        input {
            border: none;
            outline: none;
            transition: 0.3s ease;
        }

        .inputt {
            padding-bottom: 20px;
        }

/* Cac tinh nang phan body */


