/* Yeu to chinh */     
        * { 
            padding: 0;
            margin: 0;
            box-sizing: border-box;
            font-family: 'Arial', sans-serif;
        }

        body.no-scroll {
            overflow: hidden; /* Triệt tiêu thanh cuộn */
            height: 100vh;    /* Cố định chiều cao màn hình */
        }

        .container-fluid{
            min-height: 100vh;
            background-color: black;
            min-width: max-content;
            width: 100%;
            overflow-x: hidden;
        }

        header {
            min-height: 10vh;
            height: auto;
            width: 100%;
            display: grid;
        }

        .Main-center {
            width: 100%;
            height: auto;
            margin: 0 auto;
        }

        footer {
            width: 100%;
            height: auto;
        }

    /*View port for PC */
        .product {
            width: 23%;
        }

    /* View port for table */
        @media (max-width: 1024px) {
            .product {
                width: 45%;
            }
        }

    /* View port for mobile */
        @media (max-width: 600px) {
            .product {
                width: 100%;
            }
        }


/* yeu to chinh */


/* Cac tinh nang phan head */
            
        .head {
            display: flex;
            justify-content: flex-end;
            position: relative; 
            padding: 0 30px; 
            width: 100%;
        }


        .Logo {
            position: absolute; 
            left: 50%; 
            transform: translateX(-50%); 
        }

        .Logo img {
            width: 12vw; 
            height: auto;   
        }

        .menu {
            padding-top: 20px;
        }

        .tab {
            display: flex;
            align-items: center;
            gap: 30px; 
        }

        .search-login-translan ul {
            display: flex;
            list-style: none; 
            gap: 15px; 
            margin: 0;
            padding: 0;
            position: absolute;
            right: 140px;
            top: 34px;
            gap: 50px;
        }

        .open-btn {
            border: none;
            background-color: rgb(0, 0, 0);
        }

        .part-menu {
            background-color: white;
            position: absolute;
            transform: translateX(200%);
            padding-left: 1vw;
            min-width: 20vw;
            z-index: 999;
            transition: 0.6s ease;
            right: 0;
            top: -0.01vw;
            height: 100vh;
            border-left: 1px solid black;
            overflow-y: auto;
        }



        .part-menu div {
            margin-bottom: 40px;
        }


        .part-menu a {
            display: block;
            text-decoration: none;
            color: black;
            font-size: 1.5vw;
        }

        .part-menu a:hover {
            cursor: pointer;
        }

        .part-menu.active {
            transform: translateX(0);
        }

        .text-end {
            padding-top: 0.5vw;
            padding-right: 1vw;
            border: none;
            background-color: white;
            padding-left: 16vw;
        }

        .overlay {
            position: fixed;
            backdrop-filter: blur(8px);
            z-index: 998;
            display: none;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
        }

        .overlay.active {
            display: block;
        }


            

    /* Cac tinh nang phan head */


/* Cac tinh nang phan body */

    
    
    /* Chu cai tieu de && phan dang nhap*/    

        .box-log {
            margin: 0 auto;
            padding-top: 5vw;
            display: block;
            justify-content: center;
            width: 60%;
        }

        .tilte-aa {
            color: white;
            text-align: center;
        }

        #password, #email {
            text-align: center;
        }

        .login {
            text-align: center;
            color: white;
            padding-bottom: 20px;
            padding-top: 20px;
        }  

        .login a {
            color: blue;
        }

        /* Phan nhap cac thong tin input */

        .inputt {
            padding-left: 20px;
        }
        
        .inputt input{
           border: none;
           width: 100%;
           height: 60%;
           color: white;
           font-size: 1.1vw;
           padding-left: 5px;
           padding-top: 5px;
           padding-bottom: 5px;
           background-color: rgb(255, 255, 255, 0);
           border-bottom: 1px solid white;
        }

        input {
            border: none;
            outline: none;
            transition: 0.3s ease;
        }

        /* id dung de su dung js */

        #eye {
            cursor: pointer;
            transition: 0.3s ease;
            color: white;
            position: absolute;
        }

    /* Phan tinh nang body */ 
        .Main-center {
            height: 100vh;
        }

        /* Chinh rieng cho phan dang nhap bang gg */

        .linkgg {
            display: block;
            text-align: center;
            padding: 10px;
            border: 1px solid rgb(158, 154, 154);
            display: block;
            border-radius: 10px;
            width: 40%;
            background-color: red;
            text-decoration: none;
            color: white;
            position: relative;
            left: 4vw;
            margin: 0 auto;
        }

        /* Chinh rieng phan dang nhap cho fb */

        .linkfb {
            display: block;
            text-align: center;
            padding: 10px;
            border: 1px solid rgb(158, 154, 154);
            border-radius: 10px;
            width: 40%;
            background-color: blue;
            color: white;
            text-decoration: none;
            position: relative;
            right: 4vw;
            margin: 0 auto;
        }

        /* hover cho gg va fb */
        .linkfb:hover{
            background-color: white;
            color: blue;
        }

        .linkgg:hover {
            background-color: white;
            color: red;
        }


        .linkgg-linkfb {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }

        /* Chinh cho phan o dang nhap */

        .Login-to-index {
            display: block;
            text-decoration: none;
            color: black;
            font-size: 2vw;
            border: 1px solid black;
            padding-left: 10vw;
            padding-right: 10vw;
            padding-top: 0.5vw;
            padding-bottom: 0.5vw;
            border-radius: 20px;
            background-color: rgb(255, 255, 255);
            cursor: pointer;
            transition: 0.3s ease;
            margin-top: 2vw;
            margin: 2vw auto;
        }


/* Cac tinh nang phan body */


/* Cac tinh nang cua phan footer */
    /* phan chung cua footer */    
        .footer {
            
            margin: 0 auto;
            justify-content: center;
            display: grid;
            grid-template-columns: 1.25fr 1.5fr 1fr;
        }

        .nameshop, .policies, .information {
            padding-top: 3vw;
            flex: 1;
            min-width: 250px;
        }
    /* Logo cua shop */
        .nameshop img{
            width: 30vw;
            height: auto;
            border-radius: 20px;
            position:relative;
            top: 5vw;
            
        }    
    /* Policies */
        .policies ul {
            list-style: none;
        }

        .policies a {
            color: white;
            text-decoration: none;
            transition: 0.3s ease;
            font-size: 1vw;
        }

        .policies li:hover {
            overflow: hidden;
            color: white;
            text-decoration: underline;
        }

        .policies li {
            padding-top: 0.5vw;
            padding-bottom: 0.5vw;
        }
    /* Information */    
        .information ul {
            list-style: none;
        }

        .information a {
            text-decoration: none;
            color: white;
            transition: 0.3s ease;
            font-size: 1vw;
        }

        .information li:hover {
            overflow: hidden;
            color: white;
            text-decoration: underline;

        }

        .information li {
            padding-top: 0.5vw;
            padding-bottom: 0.5vw;
        }

        .title-footer {
            padding-bottom: 1vw;
            font-size: 3vw;
            color: white;
        }
/* Cac tinh nang cua phan footer */