/* Yeu to chinh */     
        * { 
            padding: 0;
            margin: 0;
            box-sizing: border-box;
            font-family: 'Arial', sans-serif;
        }

        /* Thanh chống cuộn cho thanh menu */
        body.no-scroll {
            overflow: hidden; /* Triệt tiêu thanh cuộn */
            height: 100vh;    /* Cố định chiều cao màn hình */
        }

        /* Body của web */
        .container-fluid{
            min-height: 100vh;
            background-color: black;
            min-width: max-content;
            width: 100%;
            overflow-x: hidden;
        }

        header {
            min-height: 10vh;
            height: auto;
            width: 100%;
            display: grid;
        }

        /* Thân của web - body */
        .Main-center {
            width: 100%;
            height: auto;
            margin: 0 auto;
        }

        footer {
            width: 100%;
            height: auto;
        }

    /*View port for PC */
        .product {
            width: 23%;
        }

    /* View port for table */
        @media (max-width: 1024px) {
            .product {
                width: 45%;
            }
        }

    /* View port for mobile */
        @media (max-width: 600px) {
            .product {
                width: 100%;
            }
        }
/* Yeu to chinh */


/* Cac tinh nang phan head */
         
    /* Bao phủ toàn bộ header */
        .head {
            display: grid;
            grid-template-columns: 1fr auto 1fr;
        }

    /* Phần Logo */
        .Logo {
            justify-content: center;
            text-align: center;
        }

        .Logo img {
            width: 200px; 
            height: auto;   
        }

    /* Các thanh chức năng */
        .search-login-translan {
            display: flex;
            align-items: center;
            justify-content: end;
            gap: 30px;
            padding-right: 12px;
        }

        .search-login-translan ul {
            display: flex;
            list-style: none;  
            margin: 0;
            padding: 0;
            justify-content: end;
            gap: 50px;
        }

    /* Button của thanh menu pages */
        .open-btn {
            border: none;
            background-color: rgb(0, 0, 0);
            font-size: 1.5rem;
        }

    /* div của các chức năng pages */
        .part-menu {
            background-color: white;
            position: fixed;
            transform: translateX(100%);
            padding-left: 3vw;
            min-width: 20vw;
            z-index: 999;
            transition: 0.6s ease;
            right: 0;
            top: 0;
            height: 100vh;
            border-left: 1px solid black;
            overflow-y: auto;
        }

        .part-menu div {
            margin-bottom: 40px;
        }

        .part-menu a {
            display: block;
            text-decoration: none;
            color: black;
            font-size: 1.5vw;
        }

        .part-menu a:hover {
            cursor: pointer;
        }

        .part-menu.active {
            transform: translateX(0);
        }

    /* Chức năng button thứ hai của các product */
        .text-end {
            padding-top: 0.5vw;
            padding-right: 1vw;
            border: none;
            background-color: white;
            padding-left: 16vw;
        }

    /* làm mờ - khi nhấn ngoài sẽ bị mất thanh menu */
        .overlay {
            position: fixed;
            backdrop-filter: blur(8px);
            z-index: 998;
            display: none;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
        }

        .overlay.active {
            display: block;
        }

/* Cac tinh nang phan head */

/* Cac tinh nang phan body */

    /* id dùng để ẩn tắt mật khẩu*/
        #eye {
            cursor: pointer;
            transition: 0.3s ease;
            color: white;
        }
        
    /* body - box toàn bộ phần register */ 
        .box-log {
            margin: 0 auto;
            padding-top: 5vw;
            display: block;
            justify-content: center;
            width: 60%;
        }

    /* Tiêu đề từng phần */
        .tilte-aa {
            color: white;
        }

    /* Tiêu đề chính phần tên chính của trang - link */
        .login {
            text-align: center;
            color: white;
            padding-bottom: 1vw;
            padding-top: 1vw;
        }  

        .login a {
            color: blue;
        }

        /* Phan nhap cac thong tin input */
        .inputt {
            padding-left: 20px;
        }
        
        .inputt input{
           border: none;
           width: 90%;
           height: 60%;
           color: white;
           font-size: large;
           padding-left: 5px;
           padding-top: 5px;
           padding-bottom: 5px;
           background-color: rgb(255, 255, 255, 0);
           border-bottom: 1px solid white;
        }

        /* input cho viec nhap mk */
        .inputt-for-pass {
            padding-left: 20px;
        }

       .inputt-for-pass input{
           border: none;
           width: 95%;
           height: 60%;
           color: white;
           font-size: large;
           padding-left: 5px;
           padding-top: 5px;
           padding-bottom: 5px;
           background-color: rgb(255, 255, 255, 0);
           border-bottom: 1px solid white;
           margin-top: 10px;
           margin-bottom: 10px;
        }

        /* Chuc nang chung cho toan bo input */
        input {
            border: none;
            outline: none;
            transition: 0.3s ease;
        }

    /* body bao quát toàn bộ thân web */
        .Main-center {
            height: 100vh;
        }

    /* chia đều 2 bên cho các thành phần */
        .name-users {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
        

        /* Chinh rieng cho phan dang nhap bang gg */
        .linkgg {
            display: block;
            text-align: center;
            padding: 10px;
            border: 1px solid rgb(158, 154, 154);
            display: block;
            border-radius: 10px;
            width: 40%;
            background-color: red;
            text-decoration: none;
            color: white;
            position: relative;
            left: 4vw;
            margin: 0 auto;
        }

        /* Chinh rieng phan dang nhap cho fb */
        .linkfb {
            display: block;
            text-align: center;
            padding: 10px;
            border: 1px solid rgb(158, 154, 154);
            display: block;
            border-radius: 10px;
            width: 40%;
            background-color: blue;
            text-decoration: none;
            color: white;
            position: relative;
            right: 4vw;
            margin: 0 auto;
        }

        /* hover cho gg va fb */
        .linkfb:hover{
            background-color: white;
            color: blue;
        }

        .linkgg:hover {
            background-color: white;
            color: red;
        }


        .linkgg-linkfb {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }


        /* Chinh cho phan o dang nhap */
        .Login-to-index {
            display: block;
            text-decoration: none;
            color: black;
            font-size: 2vw;
            border: 1px solid black;
            padding-left: 10vw;
            padding-right: 10vw;
            padding-top: 0.5vw;
            padding-bottom: 0.5vw;
            border-radius: 20px;
            background-color: rgb(255, 255, 255);
            cursor: pointer;
            transition: 0.3s ease;
            margin-top: 2vw;
            margin: 2vw auto;
        }

/* Cac tinh nang phan body */


/* Cac tinh nang cua phan footer */
    /* phan chung cua footer */    
        .footer {
            
            margin: 0 auto;
            justify-content: center;
            display: grid;
            grid-template-columns: 1.25fr 1.5fr 1fr;
        }

    /* chỉnh sửa cho các tiêu đề footer */
        .nameshop, .policies, .information {
            padding-top: 3vw;
            flex: 1;
            min-width: 250px;
        }
    /* Logo cua shop */
        .nameshop img{
            width: 30vw;
            height: auto;
            border-radius: 20px;
            position:relative;
            top: 5vw;
            
        }    
    /* Policies */
        .policies ul {
            list-style: none;
        }

        .policies a {
            color: white;
            text-decoration: none;
            transition: 0.3s ease;
            font-size: 1vw;
        }

        .policies li:hover {
            overflow: hidden;
            color: white;
            text-decoration: underline;
        }

        .policies li {
            padding-top: 0.5vw;
            padding-bottom: 0.5vw;
        }
    /* Information */    
        .information ul {
            list-style: none;
        }

        .information a {
            text-decoration: none;
            color: white;
            transition: 0.3s ease;
            font-size: 1vw;
        }

        .information li:hover {
            overflow: hidden;
            color: white;
            text-decoration: underline;

        }

        .information li {
            padding-top: 0.5vw;
            padding-bottom: 0.5vw;
        }

        /* Chữ của các footer */
        .title-footer {
            padding-bottom: 1vw;
            font-size: 3vw;
            color: white;
        }
/* Cac tinh nang cua phan footer */