
/* Cac tinh nang phan body */

    /* id dùng để ẩn tắt mật khẩu*/
        #eye {
            cursor: pointer;
            transition: 0.3s ease;
            color: white;
        }
        
        /* Phan nhap cac thong tin input */

        /* input cho viec nhap mk */
        .inputt-for-pass {
            padding-left: 20px;
        }

       .inputt-for-pass input{
           border: none;
           width: 95%;
           height: 60%;
           color: white;
           font-size: 1rem;
           padding-left: 5px;
           padding-top: 5px;
           padding-bottom: 5px;
           background-color: rgb(255, 255, 255, 0);
           border-bottom: 1px solid white;
           margin-top: 10px;
           margin-bottom: 10px;
        }

        /* Chuc nang chung cho toan bo input */
        input {
            border: none;
            outline: none;
            transition: 0.3s ease;
            
        }

    /* body bao quát toàn bộ thân web */

    /* chia đều 2 bên cho các thành phần */
        .name-users {
            display: grid;
            grid-template-columns: 1fr 1fr;
            padding-bottom: 20px;
        }
        
/* Cac tinh nang phan body */
