/* Cac tinh nang phan body */
    /* Tieu de gui emai */
        .letter-for-email {
            text-align: center;
            color: white;
            padding-bottom: 20px;
            padding-top: 20px;
            width: 60%;
            margin: 0 auto;
        }


    /* Phan nhap cac thong tin input */
        input {
            border: none;
            outline: none;
            transition: 0.3s ease;
        }


    /* body bao quát toàn bộ thân web */ 
    
    /* Phần quay lại trang đăng nhập */
        .restart {
            text-align: center;
            padding-top: 10px;
            padding-bottom: 10px;
        }

        .restart a {
            text-decoration: none;
            color: white;
        }

    /* Phần thông báo */
        #thongbao {
            padding-left: 20px;
        }


/* Cac tinh nang phan body */
