
/* Cac tinh nang phan body */

    /* Logo chính của sản phẩm */
        .main-logo {
            width: 100%;
            padding-bottom: 30px;
        }

        .main-logo img{
            width: 100%;
            height: auto;
            border-radius: 10px;
        } 
    
    /* Bao quát toàn bộ các sản phẩm và logo chính của sản phẩm*/
        .list-product {
            background-color: white;
            border-radius: 10px;
            margin: 20px;
            padding: 15px;
            padding-top: 30px;
        }

    /* Bao quát toàn bộ ảnh sản phẩm giá tiền và tên sản phẩm */ 
        .show {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            gap: 20px;
            padding-top: 30px;
            padding-bottom: 30px;
        }
        

    /* hiệu ứng cho từng san pham */
        .product {
            flex-direction: column;
            text-decoration: none;
            display: flex;
            transition: 0.3s ease;
            border-radius: 20px;
            width: 100%;
            height: 100%;
        }

        .product img {
            border-radius: 20px;
            width: 90%;
            height: 225px;
            display: block;
            margin: 15px auto 10px;
            object-fit: cover;
        }

    /* Tên các sản phẩm */
        .title-product {
            text-align: center;
            padding-top: 10px; 
            color: black;
            
        }

    /* Giá tiền các sản phẩm */
        .price-product {
            text-align: center;
            padding-top: 20px;
            color: black;
            margin-top: auto;
        }

    /* hiệu ứng khi chọn vào sản phẩm */
        .product:hover {
            transform:translateY(-10px)
        }    
    /* Thanh phan cua cac san pham */

    /* button */
    .buttonn {
        border: none;
        padding: 0;
        margin: 0;
        background-color: white;
    }

    .bot {
        gap: 20px;
        display: grid;
        grid-template-columns: 0.1fr 0.1fr 1fr;
        font-size: medium;
        justify-content:space-around;
        padding-left: 20px;
    }

    

/* Cac tinh nang phan body */   