/* Yeu to chinh */     
        * { 
            padding: 0;
            margin: 0;
            box-sizing: border-box;
            font-family: 'Arial', sans-serif;
        }

        /* Thanh chống cuộn cho thanh menu */
        body.no-scroll {
            overflow: hidden; /* Triệt tiêu thanh cuộn */
            height: 100vh;    /* Cố định chiều cao màn hình */
        }

        /* Body của web */
        .container-fluid{
            min-height: 100vh;
            background-color: black;
            min-width: max-content;
            width: 100%;
            overflow-x: hidden;
        }

        header {
            min-height: 10vh;
            height: auto;
            width: 100%;
            display: grid;
        }

        /* Thân của web - body */
        .Main-center {
            width: 100%;
            height: auto;
            margin: 0 auto;
        }

        footer {
            width: 100%;
            height: auto;
        }

    /*View port for PC */
        .product {
            width: 23%;
        }

    /* View port for table */
        @media (max-width: 1024px) {
            .product {
                width: 45%;
            }
        }

    /* View port for mobile */
        @media (max-width: 600px) {
            .product {
                width: 100%;
            }
        }
/* Yeu to chinh */


/* Cac tinh nang phan head */
         
    /* Bao phủ toàn bộ header */
        .head {
            display: grid;
            grid-template-columns: 1fr auto 1fr;
        }

    /* Phần Logo */
        .Logo {
            justify-content: center;
            text-align: center;
        }

        .Logo img {
            width: 200px; 
            height: auto;   
        }

    /* Các thanh chức năng */
        .search-login-translan {
            display: flex;
            align-items: center;
            justify-content: end;
            gap: 30px;
            padding-right: 12px;
        }

        .search-login-translan ul {
            display: flex;
            list-style: none;  
            margin: 0;
            padding: 0;
            justify-content: end;
            gap: 50px;
        }

    /* Button của thanh menu pages */
        .open-btn {
            border: none;
            background-color: rgb(0, 0, 0);
            font-size: 1.5rem;
        }

    /* div của các chức năng pages */
        .part-menu {
            background-color: white;
            position: fixed;
            transform: translateX(100%);
            padding-left: 3vw;
            min-width: 20vw;
            z-index: 999;
            transition: 0.6s ease;
            right: 0;
            top: 0;
            height: 100%;
            border-left: 1px solid black;
            overflow-y: auto;
        }

        .part-menu div {
            margin-bottom: 40px;
        }

        .part-menu a {
            display: block;
            text-decoration: none;
            color: black;
            font-size: 1.5vw;
        }

       

        .part-menu.active {
            transform: translateX(0);
        }

    /* Chức năng button thứ hai của các product */
        .text-end {
            padding-top: 0.5vw;
            padding-right: 1vw;
            border: none;
            background-color: white;
            padding-left: 16vw;
        }

    /* làm mờ - khi nhấn ngoài sẽ bị mất thanh menu */
        .overlay {
            position: fixed;
            backdrop-filter: blur(8px);
            z-index: 998;
            display: none;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
        }

        .overlay.active {
            display: block;
        }

/* Cac tinh nang phan head */


/* Cac tinh nang phan body */

    /* Logo chính của index */
        .logo-body img {
            margin-top: 1vw;
            width: 100%;
            height: auto;
        }

    /* các ảnh đại diện cho từng mặt hàng */     
        .information-t-shirt img, .information-sneaker img, .information-accessory img {
            width: 100%;
            height: auto;
        }

        .information-t-shirt, .information-sneaker, .information-accessory{
            color: white;
        }

        .information-sneaker, .information-t-shirt, .information-accessory{
            position: relative; 
            width: 100%;
            overflow: hidden;   
        }   
    
    /* Chữ phía dưới của các ảnh */
        .name-logo {
            position: absolute;
            bottom: 0vw; 
            color: white;
            width: 100%;
            font-size: 0.9vw;
            text-align: center;
        }

    /* Chữ phía trên của các ảnh */
        .main-tilte {
            font-size: 3vw;
        }
    
/* Cac tinh nang phan body */   


/* Cac tinh nang cua phan footer */
    /* phan chung cua footer */    
        .footer {
            
            margin: 0 auto;
            justify-content: center;
            display: grid;
            grid-template-columns: 1.25fr 1.5fr 1fr;
        }

    /* chỉnh sửa cho các tiêu đề footer */
        .nameshop, .policies, .information {
            padding-top: 3vw;
            flex: 1;
            min-width: 250px;
        }
    /* Logo cua shop */
        .nameshop img{
            width: 30vw;
            height: auto;
            border-radius: 20px;
            position:relative;
            top: 5vw;
            
        }    
    /* Policies */
        .policies ul {
            list-style: none;
        }

        .policies a {
            color: white;
            text-decoration: none;
            transition: 0.3s ease;
            font-size: 1vw;
        }

        .policies li:hover {
            overflow: hidden;
            color: white;
            text-decoration: underline;
        }

        .policies li {
            padding-top: 0.5vw;
            padding-bottom: 0.5vw;
        }
    /* Information */    
        .information ul {
            list-style: none;
        }

        .information a {
            text-decoration: none;
            color: white;
            transition: 0.3s ease;
            font-size: 1vw;
        }

        .information li:hover {
            overflow: hidden;
            color: white;
            text-decoration: underline;

        }

        .information li {
            padding-top: 0.5vw;
            padding-bottom: 0.5vw;
        }

        /* Chữ của các footer */
        .title-footer {
            padding-bottom: 1vw;
            font-size: 3vw;
            color: white;
        }
/* Cac tinh nang cua phan footer */