    /* Logo chính của index */
        .logo-body img {
            margin-top: 1vw;
            width: 100%;
            height: auto;
        }

    /* các ảnh đại diện cho từng mặt hàng */     
        .information-t-shirt img, .information-sneaker img, .information-accessory img {
            width: 100%;
            height: auto;
        }

        .information-t-shirt, .information-sneaker, .information-accessory{
            color: white;
        }

        .information-sneaker, .information-t-shirt, .information-accessory{
            position: relative; 
            width: 100%;
            overflow: hidden;   
        }   
    
    /* Chữ phía dưới của các ảnh */
        .name-logo {
            position: absolute;
            bottom: 0vw; 
            color: white;
            width: 100%;
            font-size: 0.9vw;
            text-align: center;
        }

    /* Chữ phía trên của các ảnh */
        .main-tilte {
            font-size: 3vw;
        }
    
/* Cac tinh nang phan body */   


