.main-logo-shop img {
    width: 100%;
    height: auto;
}

.information img{
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}

.information {
    color: var(--color-text);
    position: relative;
    width: 100%;
    overflow: hidden;
}

.information h2, .information .extra-title{
    position: absolute;
    left: 50%;
    width: 100%;
    text-align: center;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.information h2 {
    top: 90%;
    font-size: 2.5rem;
}

.information .extra-title {
    top: 95%;
    font-size: 1.2rem;
}

@media (max-width: 768px) {
    .information h2 {
        font-size: 1.8rem; /* Thu nhỏ chữ trên mobile */
    }
    .information img {
        height: 300px; /* Thu ngắn banner trên mobile */
    }
}
